
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.login-form {
  max-width: 300px;
  margin:0 auto;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}


/*HeaderBar*/
.trigger{
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
}
.trigger:hover{
  color: #1890ff;
}
.header-ul{
  display: flex;
  width: 200px;
}
.header-ul li {
  flex-grow: 1;
  text-align: center;
}
.header-ul>li img{
  width: 35px;
  height: 35px;
  border-radius: 100px;
}
.menu{
  line-height: 2em;
  padding: 0 10px;
}
.menu-group li{
  padding: 0 24px;
  line-height: 2em;
}

#page .card-item{
  margin-bottom: 10px;
  border-radius: 3px;
  line-height: 2em;
}
#page .card-ul{
  list-style: inside circle;
}



/*GalleryDemo*/
.aspect {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}
.aspect--1x2{
  padding-bottom: calc(112.5% + 8px);
}
.aspect--1x1 {
  padding-bottom: 56.25%;
  /*padding的百分比是按父级的width计算的*/
}
.aspect--2x1 {
  padding-bottom: 28.125%;
}
.aspect__inner{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-center-modal .ant-modal {
  top: 0;
}

ol, ul {
  list-style: none;
}

/*更改antd的primary button样式*/
.ant-btn-primary{
  background: #36bafb;
  border-color: #36bafb;
}

.ant-table-empty .ant-table-body {
  overflow: hidden !important;
}

